<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="..\..\..\..\..\..\..\Program Files\dotnet\dotnet.exe" arguments="&quot;C:\Users\Rubiks\.nuget\packages\microsoft.aspnetcore.components.webassembly.devserver\8.0.0\build\../tools/blazor-devserver.dll&quot; --applicationpath &quot;C:\Users\Rubiks\source\repos\fefemf10\PortfolioTeacher\PortfolioSite\bin\Debug\net8.0\PortfolioSite.dll&quot; " stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>